<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mogreene.spring_board.dao.BoardDAO">
    <!--동적쿼리 추출-->
    <sql id="search">
        <where>
            <if test="keyword != null and keyword.length > 0">
                title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%')
                OR writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="cno gt 0">
                <trim prefix="and">
                    b.cno = #{cno}
                </trim>
            </if>
            <if test="from != null and to != null">
                <trim prefix="and">
                    regDate BETWEEN date(#{from}) AND date(#{to})
                </trim>
            </if>
        </where>
    </sql>

    <!--게시글 갯수 + 검색조건 데이터-->
    <select id="totalCount" resultType="int">
        SELECT
            count(bno)
        FROM
            board b
        <include refid="search"></include>
    </select>

    <!--페이지 네이션 + 검색조건 데이터-->
    <select id="getBoardListWithPaging" resultType="com.mogreene.spring_board.dto.BoardDTO">
        SELECT
            bno, c.category, title, writer, view, regDate, modDate, fno
        FROM
            board b
            JOIN
            category c ON b.cno = c.cno
        <include refid="search"></include>
        ORDER BY
            bno DESC
            limit #{skip}, #{size}
    </select>

    <!--게시글 등록-->
    <insert id="postArticle" parameterType="com.mogreene.spring_board.dto.BoardDTO">
        INSERT INTO
            board
            (writer, password, title, content, cno, fno)
        VALUES
            (#{writer}, #{password}, #{title}, #{content}, #{cno}, #{fno})
    </insert>

    <!--특정 게시글 조회-->
    <select id="getBoardView" resultType="com.mogreene.spring_board.dto.BoardDTO">
        SELECT
            bno, category.category, title, writer, content, view, regDate, modDate, fno
        FROM
            board
            JOIN category
                ON board.cno = category.cno
        WHERE
            bno = #{bno}
    </select>

    <!--게시글 조회수 증가-->
    <update id="viewCount" parameterType="long">
        UPDATE
            board
        SET
            view = view + 1
        WHERE
            bno = #{bno}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteArticle">
        DELETE FROM
                   board
        WHERE
            bno = #{bno}
    </delete>

    <!--게시글 수정-->
    <update id="updateArticle" parameterType="com.mogreene.spring_board.dto.BoardDTO">
        UPDATE
            board
        SET
            writer = #{writer}, title = #{title}, content = #{content}, modDate = current_timestamp
        WHERE
            bno = #{bno}
    </update>

    <!--비밀번호 확인-->
    <select id="dbPassword" resultType="String">
        SELECT
            password
        FROM
            board
        WHERE
            bno = #{bno}
    </select>    
</mapper>