<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mogreene.spring_board.dao.BoardDAO">

    <!--게시글 전체조회-->
    <!-- TODO 페이지네이션 limit 0,10 수정 -->
    <select id="getBoardList" resultType="com.mogreene.spring_board.dto.BoardDTO">
        SELECT
            bno, cno, title, writer, view, regDate, modDate
        FROM
            board
        ORDER BY bno DESC limit 0, 10
    </select>

    <!--게시글 등록-->
    <insert id="postArticle" parameterType="com.mogreene.spring_board.dto.BoardDTO">
        INSERT INTO
            board
            (writer, password, title, content, cno)
        VALUES
            (#{writer}, #{password}, #{title}, #{content}, #{cno})
    </insert>

    <!--특정 게시글 조회-->
    <select id="getBoardView" resultType="com.mogreene.spring_board.dto.BoardDTO">
        SELECT
            bno, category.category, title, writer, view, regDate, modDate
        FROM
            board
            JOIN category
                ON board.cno = category.cno
        WHERE
            bno = #{bno}
    </select>

    <delete id="deleteArticle">
        DELETE FROM
                   board
        WHERE
            bno = #{bno}
    </delete>
</mapper>