<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mogreene.spring_board.dao.ReplyDAO">

    <!--댓글 등록-->
    <insert id="postReply" parameterType="com.mogreene.spring_board.dto.ReplyDTO">
        INSERT INTO
            reply
            (replyContent, bno)
        VALUES
            (#{replyContent}, #{bno})
    </insert>

    <!--댓글 조회-->
    <select id="getReplyList" resultType="com.mogreene.spring_board.dto.ReplyDTO">
        SELECT
            replyContent, regDate
        FROM
            reply
        WHERE
            bno = #{bno}
        ORDER BY regDate DESC
    </select>

</mapper>